body {
  margin: 50px auto;
  font-family: sans-serif;
}

.wrap {
  width: 800px;
  margin: auto;
}

pre {
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  word-break: normal;
  background-color: #fcf997;
  padding: 10px;
  font-size: 12px;
}

#log {
  overflow: scroll;
}

path.tradearrow {
    stroke: none;
}
path.tradearrow.buy {
    fill: #0000FF;
}
path.tradearrow.sell {
    fill: #9900FF;
}
.tradearrow path.highlight {
    fill: none;
    stroke-width: 2;
}
.tradearrow path.highlight.buy,.tradearrow path.highlight.buy-pending {
    stroke: #0000FF;
}
.tradearrow path.highlight.buy-pending {
    fill: #0000FF;
    fill-opacity: 0.3;
}
.tradearrow path.highlight.sell {
    stroke: #9900FF;
}

text {
    fill: #000;
}

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
}

path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}